@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model QueueUnderflow.Models.Discussion
@{
    string timeAgo;
    var timePassed = DateTime.Now - @Model.Date;
    var hoursPassed = (int) timePassed.TotalHours;
    var daysPassed = (int) timePassed.TotalDays;
    var minutesPassed = (int) timePassed.TotalMinutes;
    if (60 > minutesPassed)
    {
        if (1 > minutesPassed)
        {
            timeAgo = "less than a minute ago";
        } else if (minutesPassed == 1)
        {
            timeAgo = "one minute ago";
        } else
        {
            timeAgo = minutesPassed + " minutes ago";
        }
    } 
    else if (24 > hoursPassed)
    {
        if (hoursPassed == 1)
        {
            timeAgo = "one hour ago";
        }
        else
        {
            timeAgo = hoursPassed + " hours ago";
        }
    }
    else if (30 > daysPassed)
    {
        if (daysPassed == 1)
        {
            timeAgo = "yesterday";
        }
        else
        {
            timeAgo = daysPassed + " days ago";
        }
    }
    else if (365 > daysPassed)
    {
        timeAgo = "on " + @Model.Date.ToString("MMMM dd");
    }
    else
    {
        timeAgo = @Model.Date.ToString("MMMM dd, yyyy");
    }

}


<a href="/Discussions/Show/@Model.Id" class="link-dark more"> <h5 class="card-title">@Model.Title</h5> </a>
@* #TODO functie de truncate pt cand contentul are prea multe caractere pt preview *@
<div class="card-text">@Html.Raw(Model.Content)</div>
<div class="text-end">
    <small>started @timeAgo</small>
</div>

