@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model QueueUnderflow.Models.Discussion
@{
    string timeAgo = @Model.Date.ToString("MMMM dd, yyyy");
}


<div class="card-body article-card">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <div class="card-text">@Html.Raw(Model.Content)</div>
        <div class="text-end">
            <small>started @timeAgo</small>
        </div>
    </div>
</div>

@foreach (QueueUnderflow.Models.Answer ans in Model.Answers)
{
    <div class="d-flex flex-start mb-4">
        <div class="card w-100">
            <div class="card-body p-4">
                <div class="">
                    <h5>@ans.User.UserName</h5>
                    <p class="small">@ans.Date.ToString("MMMM dd, yyyy")</p>
                    <p>@ans.Content</p>
                </div>
                @if (ans.User.Id == ViewBag.UserCurent || ViewBag.EsteAdmin)
                {
                    <div class="d-flex">

                        @if (ans.User.Id == ViewBag.UserCurent)
                        {
                            <div>

                                <a class="btn btn-outline-primary" href="/Answers/Edit/@ans.Id"><i class="bi bi-pencil-square"></i>Edit</a>

                            </div>
                        }
                        <div>

                            <form method="post" action="/Answers/Delete/@ans.Id">

                                <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Delete</button>

                            </form>

                        </div>

                    </div>

                }

            </div>
        </div>
    </div>
}




