@model QueueUnderflow.Models.Discussion


<h2 class="text-center mt-5">Add discussion</h2>
<br />
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">

            @using (Html.BeginForm(actionName: "New", controllerName: "Discussions",
            method: FormMethod.Post))
            {

                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                @Html.Label("Title", "Disussion title")
                <br />
                @Html.TextBox("Title", null, new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                <br />

                <br />

                @Html.Label("Content", "Discussion content")
                <br />
                @Html.TextArea("Content", null, new { @class = "form-control" })

                @Html.ValidationMessage("Content", null, new { @class = "text-danger" })
                <br />

                <br />


                <label>Select the category</label>
                @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categ, "Value", "Text"),
                         "Select the category", new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.CategoryId, null, new { @class = "text-danger" })
                <br />

                <br />

                <button class="btn btn-success" type="submit">Add discussion</button>

            }

        </div>
    </div>
</div>








